<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.graph.site.mapper.OdsEntityPersonMapper">

    <resultMap id="BaseResultMap" type="cn.graph.site.entity.domain.OdsEntityPerson">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="entityType" column="entity_type" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="VARCHAR"/>
            <result property="age" column="age" jdbcType="INTEGER"/>
            <result property="cardId" column="card_id" jdbcType="VARCHAR"/>
            <result property="home" column="home" jdbcType="VARCHAR"/>
            <result property="nowAddress" column="now_address" jdbcType="VARCHAR"/>
            <result property="tel" column="tel" jdbcType="VARCHAR"/>
            <result property="other" column="other" jdbcType="VARCHAR"/>
            <result property="inspectTime" column="inspect_time" jdbcType="TIMESTAMP"/>
            <result property="caseStatus" column="case_status" jdbcType="VARCHAR"/>
            <result property="alterField1" column="alter_field_1" jdbcType="VARCHAR"/>
            <result property="alterField2" column="alter_field_2" jdbcType="VARCHAR"/>
            <result property="alterField3" column="alter_field_3" jdbcType="VARCHAR"/>
            <result property="alterField4" column="alter_field_4" jdbcType="VARCHAR"/>
            <result property="alterField5" column="alter_field_5" jdbcType="VARCHAR"/>
            <result property="alterField6" column="alter_field_6" jdbcType="VARCHAR"/>
            <result property="alterField7" column="alter_field_7" jdbcType="VARCHAR"/>
            <result property="alterField8" column="alter_field_8" jdbcType="VARCHAR"/>
            <result property="source" column="source" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="incr" column="incr" jdbcType="INTEGER"/>
            <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
            <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,entity_type,
        sex,age,card_id,
        home,now_address,tel,
        other,inspect_time,case_status,
        alter_field_1,alter_field_2,alter_field_3,
        alter_field_4,alter_field_5,alter_field_6,
        alter_field_7,alter_field_8,source,
        status,incr,create_user,
        update_user,create_time,update_time
    </sql>
</mapper>
